h2 {
    text-decoration: none;
    text-color: black;
}
#container {
    margin: 0 auto;
}
#container ul {
    padding: 15px auto;
}
#container ul li {
    list-style: none;
    padding: 5px 0;
}
label {
    float: left;
}
#error {
    color: red;
}